body {
  background-color: #4338ca;
  /* margin: 0; */
}
.card-grid{
  display: grid;
  align-items:flex-start;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  justify-content: space-between;
  grid-gap: 50px;
}
.card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  transform-style: preserve-3d;
  height: 200px;
  width: 250px;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}
.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.flip {
  --rotate-y: 180deg;
}
.card .front,
.card .back {
position: absolute;
padding: 1rem;
-webkit-backface-visibility: hidden;
}
.card .back {
  transform: rotateY(180deg);
}
.card .front {
  left: 0;
}
.buttons{
display: flex;
justify-content: space-between;
}
.title{
  text-align: center;
  text-decoration: underline;
  color: white;
}
.delete{
  background-color: #be123c;
}
.update{
  background-color: #0f766e;
}